*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body

{
	font-size: 1.3rem;
	overflow-x: hidden;

	font-family: 'Roboto',sans-serif;
}

header
{
	/*background-image:  url(../images/banner-img.jpg);*/
	
	background-color: black;
	overflow: hidden;

}

.row

{
	margin: 0 auto;
}

.div-logo

{
float: left;
margin: 10px 50px 0 100px;
}

.div-logo> img{
	width: 130px;
}

.clearfix:after

{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}

nav{
    margin-top: 105px;
}

.main-nav

{
	position: relative;
}

.main-nav li

{
	display: inline-block;
	list-style: none;
	 border-right: 2px solid grey;
	 /*margin-bottom: 2px;*/
}

.main-nav li:last-child{
	border-right: none;
}

.main-nav li a

{
	color: #fff;
	text-decoration: none;
	/*text-transform: uppercase;*/
	font-size: 80%;
 	padding: 14px 16px;
	font-weight: 70;
	margin-bottom: 1px;
}


.main-nav li a:hover{
	background-color: red;
}
.banner-img > img
{
	width: 100%;
	height: 80%;
	position: relative;
}

.contact-logo{
	float: right;

	margin: 40px 40px 0px 0px;
}

.contact-logo > a
{
	padding: 0px 30px;
	margin-top: -15px;
	margin-right: 40px;
	text-decoration: none;
	border-radius: 40px;

	background-color: #056334;
	color: white;
	vertical-align: middle;
	display: block;
	line-height: 40px;

}

/*contact logo image*/

.contact-logo>a > img{
	display: inline-block;
	vertical-align: middle;
}

/*contact logo text color*/

header.contact-logo a 

{
	color: #fff;
}

/* section-container css*/

.section-container

{
	    margin: 62px 66px 142px 82px;
}



/* content heading css*/
.content > h2

{
	margin: -378px 105px 68px 534px;
	color: green;
	font-size: 30px;
}

/* content paragraph css*/
.content > p

{
	margin: -39.8px 9px 68px 534px;
	font-size: 20px;
}

.section-container2 >h3
{
	width:100%; 
    text-align:center; 
    border-bottom: 1px solid black; 
    line-height:0.1em; 
     margin:10px 0 20px;

}

h3 >span
{
	color: red;
	font-size: 34px;
    background-color: white;
    padding: 0 10px;
}
/* section 2 heading css*/
/*
.section-container2 >h2
{
	text-align: center;
	color: red;
	border: bottom;
}*/



/* li active pseudo class*/

li .active

{
	background: red;
	color: white;
}

/* heading navigation-description */

 h2.nav-desc

 {
 	 position: absolute;
 	 color: white;
 	 margin-left: 30%;
    top: 589px
   	
 }



 h2 >span

 {
 	color: green;
 	text-align: center;
 	font-size: 40px;
 }

.match-video

{
	overflow: hidden;
	margin-top: 30px;
}

/* column class inside the match-video class*/
.column {
  float: left;
  width: 28.33%;
  /*padding: 4px;*/
 /* margin-left: 29px;
  margin-right: 20px;*/
  margin:  35px -2px 22px 50px;
}



.accessoris-text 
{
	
	text-align: center;
	color: red;
	font-size: 30px;
	border-bottom: 1px solid black; 
     line-height:0.1em; 
     margin-top: 50px;

	            
}

 .accessoris-text>h4 

{
	background-color: white;
    padding: 0 10px;
    margin-top: 70px;
}
.accessories-container

{
	margin-top: 40px;
}

.column1 {
  float: left;
  width: 20.33%;
  padding: 10px;
  margin:20px -39px 30px 79px;
   border: 8px solid #ccc;
}

.about-section > h3

{
	text-align: center;
	border-bottom:  1px solid #ccc;
	width:100%; 
    text-align:center; 
    border-bottom: 1px solid black; 
    line-height:0.1em; 
     margin:10px 0 20px;
}


.about-section>p

{

	margin: 11px 258px 54px 267px;
	font-size: 20px;

}

.about-section >a

{
	
	text-decoration: none;
	border-radius: 10px;

	background: red;
	color: white;
	
	display: inline-block;
	line-height: 40px;
	margin-left: 45%;
	padding:6px 18px;
}


footer

{
	background: black;
	padding: 20px;
	margin-top: 20px;


}


.footer li

{
	display: inline-block;
	list-style: none;
	 border-right: 2px solid grey;
	 /*margin-bottom: 2px;*/
}

.footer li:last-child{
	border-right: none;
}

.footer li a

{
	color: #fff;
	text-decoration: none;
	/*text-transform: uppercase;*/
	font-size: 80%;
    padding: 14px 16px;
	font-weight: 70;

	margin: 36px 27px 35px 43px;
	
}


footer> p

{
  margin: 38px 27px 46px 518px;
 	
      font-size: 12px;
	color: white;
	border: 2px solid black;
}

footer li >a 

{
	color: red;
}